# Maps for King County Part 2

In [1]:
# import librarties
import numpy as np
import pandas as pd 
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.neighbors import KNeighborsRegressor
from sklearn.preprocessing import PolynomialFeatures
from sklearn import metrics
from sklearn.model_selection import cross_val_score
import matplotlib.pyplot as plt
import seaborn as sns
from mpl_toolkits.mplot3d import Axes3D
import folium
from folium.plugins import HeatMap
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

In [2]:
# make dataframe again
df=pd.read_csv('kc_house_data.csv')

In [3]:
df['zipcode']=df['zipcode'].astype(str)
df['zipcode']

0        98178
1        98125
2        98028
3        98136
4        98074
         ...
21592    98103
21593    98146
21594    98144
21595    98027
21596    98144
Name: zipcode, Length: 21597, dtype: object

In [4]:
df_low_price=df.drop(df[df.price>1300000].index)
df_low_price

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,0.0,0.0,...,8,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,0.0,0.0,...,8,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,0.0,0.0,...,7,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,0.0,...,8,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,0.0,0.0,...,7,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

In [5]:
df_mid=df_low_price.drop(df_low_price[df_low_price.price<150000].index)
df_mid

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,10/13/2014,221900.0,3,1.00,1180,5650,1.0,NaN,0.0,...,7,1180,0.0,1955,0.0,98178,47.5112,-122.257,1340,5650
1,6414100192,12/9/2014,538000.0,3,2.25,2570,7242,2.0,0.0,0.0,...,7,2170,400.0,1951,1991.0,98125,47.7210,-122.319,1690,7639
2,5631500400,2/25/2015,180000.0,2,1.00,770,10000,1.0,0.0,0.0,...,6,770,0.0,1933,NaN,98028,47.7379,-122.233,2720,8062
3,2487200875,12/9/2014,604000.0,4,3.00,1960,5000,1.0,0.0,0.0,...,7,1050,910.0,1965,0.0,98136,47.5208,-122.393,1360,5000
4,1954400510,2/18/2015,510000.0,3,2.00,1680,8080,1.0,0.0,0.0,...,8,1680,0.0,1987,0.0,98074,47.6168,-122.045,1800,7503
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21592,263000018,5/21/2014,360000.0,3,2.50,1530,1131,3.0,0.0,0.0,...,8,1530,0.0,2009,0.0,98103,47.6993,-122.346,1530,1509
21593,6600060120,2/23/2015,400000.0,4,2.50,2310,5813,2.0,0.0,0.0,...,8,2310,0.0,2014,0.0,98146,47.5107,-122.362,1830,7200
21594,1523300141,6/23/2014,402101.0,2,0.75,1020,1350,2.0,0.0,0.0,...,7,1020,0.0,2009,0.0,98144,47.5944,-122.299,1020,2007
21595,291310100,1/16/2015,400000.0,3,2.50,1600,2388,2.0,NaN,0.0,...,8,1600,0.0,2004,0.0,98027,47.5345,-122.069,1410,1287
21596,1523300157,10/15/2014,325000.0,2,0.75,1020,1076,2.0,0.0,0.0,...,7,1020,0.0,2008,0.0,98144,47.5941,-122.299,1020,1357

In [6]:
# building dataframe of averages for zipcodes
zipcode_data = df_mid.groupby('zipcode').aggregate(np.mean)
zipcode_data.reset_index(inplace=True)

# counting number of houses per zipcode
df_mid['count'] = 1
count_houses_zipcode = df_mid.groupby('zipcode').sum()
count_houses_zipcode.reset_index(inplace=True)
count_houses_zipcode = count_houses_zipcode[['zipcode','count']]
df_mid.drop(['count'], axis = 1, inplace = True)

# merge dataframes to make zipcode average dataframe
zipcode_data = pd.merge(zipcode_data, count_houses_zipcode, how='left', on=['zipcode'])
zipcode_data.head()

,zipcode,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15,count
0,98001,4.664922e+09,284916.000000,3.422096,2.031870,1925.178470,15010.141643,1.440510,0.0,0.096866,3.337110,7.320113,1741.070822,1981.351275,21.579710,47.309577,-122.270861,1843.206799,11223.133144,353
1,98002,4.810465e+09,240542.941489,3.382979,1.885638,1663.515957,7551.542553,1.353723,0.0,0.010638,3.750000,6.750000,1552.154255,1969.063830,63.685897,47.309158,-122.213138,1500.143617,7619.840426,188
2,98003,4.677967e+09,295263.158273,3.359712,2.054856,1935.888489,10601.402878,1.312950,0.0,0.215827,3.374101,7.546763,1668.647482,1977.043165,16.781513,47.315621,-122.310032,1880.053957,9752.298561,278
3,98004,4.008513e+09,888927.960894,3.513966,2.019553,2101.564246,11024.117318,1.290503,0.0,0.061798,3.586592,7.782123,1736.648045,1963.351955,148.621622,47.612227,-122.200916,2367.374302,10978.636872,179
4,98005,5.050382e+09,770053.844720,3.844720,2.375776,2583.496894,18792.118012,1.254658,0.0,0.099379,3.720497,8.360248,2069.273292,1968.956522,45.416667,47.610488,-122.167540,2515.720497,17732.484472,161

In [7]:
zipcode_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70 entries, 0 to 69
Data columns (total 20 columns):
zipcode          70 non-null object
id               70 non-null float64
price            70 non-null float64
bedrooms         70 non-null float64
bathrooms        70 non-null float64
sqft_living      70 non-null float64
sqft_lot         70 non-null float64
floors           70 non-null float64
waterfront       70 non-null float64
view             70 non-null float64
condition        70 non-null float64
grade            70 non-null float64
sqft_above       70 non-null float64
yr_built         70 non-null float64
yr_renovated     70 non-null float64
lat              70 non-null float64
long             70 non-null float64
sqft_living15    70 non-null float64
sqft_lot15       70 non-null float64
count            70 non-null int64
dtypes: float64(18), int64(1), object(1)
memory usage: 11.5+ KB

In [8]:
# correlation matrix for averages of zipcodes
zipcode_data.corr()

,id,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,yr_built,yr_renovated,lat,long,sqft_living15,sqft_lot15,count
id,1.000000,-0.022733,0.080297,0.114325,0.045645,-0.345125,0.102235,-0.169451,-0.088235,-0.176778,0.053525,0.043092,0.054847,-0.105731,-0.064195,0.029029,0.018365,-0.370143,0.238170
price,-0.022733,1.000000,0.232953,0.422614,0.461283,-0.118524,0.353721,-0.083664,0.103251,0.166493,0.693832,0.284767,-0.197230,0.470805,0.582604,0.021605,0.563183,-0.091326,-0.136399
bedrooms,0.080297,0.232953,1.000000,0.662761,0.746391,-0.121072,-0.018405,-0.279061,-0.343804,0.140634,0.601723,0.666742,0.515704,-0.282946,-0.013607,0.416615,0.749963,-0.109787,0.067540
bathrooms,0.114325,0.422614,0.662761,1.000000,0.891074,0.129826,0.605465,-0.173090,-0.247082,-0.248070,0.876481,0.884701,0.717653,-0.304716,0.126789,0.591329,0.855655,0.135092,0.115709
sqft_living,0.045645,0.461283,0.746391,0.891074,1.000000,0.256223,0.314758,-0.087157,-0.125174,-0.109470,0.877672,0.945653,0.660546,-0.217859,0.154651,0.600773,0.963488,0.272207,0.034258
sqft_lot,-0.345125,-0.118524,-0.121072,0.129826,0.256223,1.000000,-0.008027,0.399730,0.203006,-0.070475,0.046455,0.383101,0.369171,-0.048667,-0.184331,0.543543,0.198410,0.992812,-0.282949
floors,0.102235,0.353721,-0.018405,0.605465,0.314758,-0.008027,1.000000,-0.148489,-0.215765,-0.414632,0.526602,0.387325,0.268729,-0.081285,0.212194,0.271174,0.284197,-0.011548,0.139082
waterfront,-0.169451,-0.083664,-0.279061,-0.173090,-0.087157,0.399730,-0.148489,1.000000,0.655390,0.190680,-0.149991,-0.072887,-0.073662,0.100668,-0.170811,-0.265553,-0.107596,0.419875,-0.153087
view,-0.088235,0.103251,-0.343804,-0.247082,-0.125174,0.203006,-0.215765,0.655390,1.000000,0.313602,-0.115449,-0.218566,-0.324160,0.383900,-0.112660,-0.312664,-0.133072,0.196577,-0.169492
condition,-0.176778,0.166493,0.140634,-0.248070,-0.109470,-0.070475,-0.414632,0.190680,0.313602,1.000000,-0.085589,-0.254781,-0.384779,0.255113,-0.148310,-0.348914,-0.081097,-0.064426,-0.033295
grade,0.053525,0.693832,0.601723,0.876481,0.877672,0.046455,0.526602,-0.149991,-0.115449,-0.085589,1.000000,0.783961,0.431617,-0.079970,0.311101,0.375795,0.878095,0.061089,0.042548
sqft_above,0.043092,0.284767,0.666742,0.884701,0.945653,0.383101,0.387325,-0.072887,-0.218566,-0.254781,0.783961,1.000000,0.809688,-0.297106,0.022803,0.729956,0.903512,0.389160,0.042530
yr_built,0.054847,-0.197230,0.515704,0.717653,0.660546,0.369171,0.268729,-0.073662,-0.324160,-0.384779,0.431617,0.809688,1.000000,-0.558181,-0.221957,0.724275,0.595790,0.357601,0.204014
yr_renovated,-0.105731,0.470805,-0.282946,-0.304716,-0.217859,-0.048667,-0.081285,0.100668,0.383900,0.255113,-0.079970,-0.297106,-0.558181,1.000000,0.118686,-0.292912,-0.063255,-0.029081,-0.327732
lat,-0.064195,0.582604,-0.013607,0.126789,0.154651,-0.184331,0.212194,-0.170811,-0.112660,-0.148310,0.311101,0.022803,-0.221957,0.118686,1.000000,-0.062975,0.179044,-0.155378,0.082099
long,0.029029,0.021605,0.416615,0.591329,0.600773,0.543543,0.271174,-0.265553,-0.312664,-0.348914,0.375795,0.729956,0.724275,-0.292912,-0.062975,1.000000,0.553435,0.512724,-0.032193
sqft_living15,0.018365,0.563183,0.749963,0.855655,0.963488,0.198410,0.284197,-0.107596,-0.133072,-0.081097,0.878095,0.903512,0.595790,-0.063255,0.179044,0.553435,1.000000,0.215945,-0.028916
sqft_lot15,-0.370143,-0.091326,-0.109787,0.135092,0.272207,0.992812,-0.011548,0.419875,0.196577,-0.064426,0.061089,0.389160,0.357601,-0.029081,-0.155378,0.512724,0.215945,1.000000,-0.297301
count,0.238170,-0.136399,0.067540,0.115709,0.034258,-0.282949,0.139082,-0.153087,-0.169492,-0.033295,0.042548,0.042530,0.204014,-0.327732,0.082099,-0.032193,-0.028916,-0.297301,1.000000

In [9]:
# houses sold in zipcodes
def show_zipcode_map(col):
    # reading geojson file 
    geo_path = 'Zipcodes_for_King_County_and_Surrounding_Area_Shorelines__zipcode_shore_area.geojson'
    # basemap
    zipcode = folium.Map(location=[df_mid['lat'].mean(), df_mid['long'].mean()], zoom_start=9.4)
    # reading data to display zipcode polygons on basemap and fill with colors
    zipcode.choropleth(geo_data="Zipcodes_for_King_County_and_Surrounding_Area_Shorelines__zipcode_shore_area.geojson",
             data=zipcode_data,
             columns=['zipcode',col],
             key_on='feature.properties.ZIPCODE', 
             fill_color='YlOrRd', fill_opacity=0.7, line_opacity=0.2,legend_name='Number of Houses Sold per Zipcode')
    return zipcode

In [ ]:
# uncomment to run, file is too large for github
#show_zipcode_map('count')

In [10]:
# living area square ft, same as above, changed legend name and color scheme
def show_zipcode_sqft_living_map(col):
    geo_path = 'Zipcodes_for_King_County_and_Surrounding_Area_Shorelines__zipcode_shore_area.geojson'
    zipcode = folium.Map(location=[df_mid['lat'].mean(), df_mid['long'].mean()], zoom_start=9.4)
    zipcode.choropleth(geo_data="Zipcodes_for_King_County_and_Surrounding_Area_Shorelines__zipcode_shore_area.geojson",
             data=zipcode_data,
             columns=['zipcode',col],
             key_on='feature.properties.ZIPCODE', 
             fill_color='GnBu', fill_opacity=0.7, line_opacity=0.2,legend_name='Average Home Living Area Square Ft')
    return zipcode

In [ ]:
# uncomment to run, file is too large for github
#show_zipcode_sqft_living_map('sqft_living')

In [11]:
# new column for average price per square ft per zipcode
zipcode_data['price/sqft']=zipcode_data['price']/zipcode_data['sqft_living']

In [12]:
zipcode_data['price/sqft']

0     147.994591
1     144.599119
2     152.520747
3     422.983957
4     298.066487
         ...
65    271.568444
66    177.510905
67    160.793825
68    173.759112
69    348.305043
Name: price/sqft, Length: 70, dtype: float64

In [21]:
# price per sq ft map, same as above, changed legend name and color scheme
def show_zipcode_price_per_sqft_map(col):
    geo_path = 'Zipcodes_for_King_County_and_Surrounding_Area_Shorelines__zipcode_shore_area.geojson'
    zipcode = folium.Map(location=[df_mid['lat'].mean(), df_mid['long'].mean()], zoom_start=9.4)
    zipcode.choropleth(geo_data="Zipcodes_for_King_County_and_Surrounding_Area_Shorelines__zipcode_shore_area.geojson",
             data=zipcode_data,
             columns=['zipcode',col],
             key_on='feature.properties.ZIPCODE', 
             fill_color='YlGn', fill_opacity=0.7, line_opacity=0.2,legend_name='Average Price per Square Ft Living Area')
    return zipcode

In [ ]:
# uncomment to run, file is too large for github
#show_zipcode_price_per_sqft_map('price/sqft')

In [13]:
# average sale price; same as above, changed legend name and color scheme
def show_zipcode_price(col):
    geo_path = 'Zipcodes_for_King_County_and_Surrounding_Area_Shorelines__zipcode_shore_area.geojson'
    zipcode = folium.Map(location=[df_mid['lat'].mean(), df_mid['long'].mean()], zoom_start=9.4)
    zipcode.choropleth(geo_data="Zipcodes_for_King_County_and_Surrounding_Area_Shorelines__zipcode_shore_area.geojson",
             data=zipcode_data,
             columns=['zipcode',col],
             key_on='feature.properties.ZIPCODE', 
             fill_color='YlGn', fill_opacity=0.7, line_opacity=0.2,legend_name='Average Sale Price')
    return zipcode

In [ ]:
# uncomment to run, file is too large for github
#show_zipcode_price('price')

In [46]:
# average home grade; same as above, changed legend name and color scheme
def show_zipcode_grade(col):
    geo_path = 'Zipcodes_for_King_County_and_Surrounding_Area_Shorelines__zipcode_shore_area.geojson'
    zipcode = folium.Map(location=[df_mid['lat'].mean(), df_mid['long'].mean()], zoom_start=9.4)
    zipcode.choropleth(geo_data="Zipcodes_for_King_County_and_Surrounding_Area_Shorelines__zipcode_shore_area.geojson",
             data=zipcode_data,
             columns=['zipcode',col],
             key_on='feature.properties.ZIPCODE', 
             fill_color='BuPu', fill_opacity=0.7, line_opacity=0.2,legend_name='Average Grade')
    return zipcode

In [ ]:
# uncomment to run, file is too large for github
#show_zipcode_grade('grade')

# Plotting individual homes on basemap with price ranges

In [ ]:
import matplotlib.cm

Function for making color range for houses

In [38]:
  def ColorVector(values, number_of_colors, cmap_name):
      buckets = pd.qcut(values, number_of_colors).codes
      cmap = matplotlib.cm.get_cmap(name = cmap_name)
      colors = []
      for i in range(0, number_of_colors):
          r = int(cmap(i/number_of_colors)[0]*255) 
          g = int(cmap(i/number_of_colors)[1]*255)
          b = int(cmap(i/number_of_colors)[2]*255)
          color = "#{0:02x}{1:02x}{2:02x}".format(r, g, b)  
          colors.append(color)
      values = []
      for j in range(0, len(buckets)):
          value = colors[buckets[j]]
          values.append(value)
      return values

In [39]:
# function for splitting range of colors
def ColorCategories(variable, colors):
    df['Colors'] = colors
    counts = df.groupby(['Colors', variable]).size().reset_index().rename(columns={0:'count'})
    color_list = counts.Colors.unique()
    for color in color_list:
        temp = counts[(counts.Colors == color)]
        print(color, min(temp[variable]), max(temp[variable]), len(temp))

In [40]:
lats = df['lat']
lngs = df['long']
price=df['price']
sqft = df['sqft_living']

In [41]:
dollar_vals = []
for i in range(0, len(price)):
    dollar_val = '${:0,.0f}'.format(price[i]).replace('$-','-$')
    
# stylize as number (commas)
num_sqfts = []
for i in range(0, len(sqft)):
    num_sqft = '{:0,.0f}'.format(sqft[i])
    num_sqfts.append(num_sqft)
    
# determine color vector    
colors = ColorVector(df['price'].values, 10, 'plasma')
ColorCategories('price', colors)

# create the base map
m = folium.Map(location=[np.mean(df.lat), np.mean(df.long)], zoom_start = 9.4)

# loop through properties to add map layers
for i in range(len(lats)):
    folium.Circle(location=[lats[i], lngs[i]], 
                  #popup = ("""<b>{}</b><br>{}<br>{} sq. ft.<br>""".format(addresses[i], dollar_vals[i], num_sqfts[i])),
                  radius = 20, 
                  color = colors[i],
                  fill = True,
                  fill_color = colors[i], 
                  fill_opacity=.30).add_to(m)

#0c0786 78000.0 245000.0 463
#40039c 245100.0 298900.0 331
#6a00a7 298950.0 345000.0 288
#8f0da3 345100.0 399895.0 309
#b02a8f 399900.0 450000.0 290
#cb4777 450500.0 519000.0 321
#e06461 519500.0 595000.0 328
#f2844b 595500.0 700180.0 387
#fca635 700500.0 887000.0 501
#fcce25 887200.0 7700000.0 404

In [42]:
# overlay zipcode polygons on basemap
m.choropleth(geo_data="Zipcodes_for_King_County_and_Surrounding_Area_Shorelines__zipcode_shore_area.geojson",
             data=df_low_price, # my dataset
             columns=['zipcode', 'price'], # zip code is here for matching the geojson zipcode, sales price is the column that changes the color of zipcode areas
             key_on='feature.properties.ZIPCODE', # this path contains zipcodes in str type, this zipcodes should match with our zipcode column
             fill_color='BuGn', fill_opacity=0, line_opacity=0.5)

In [ ]:
m

Plotting individual homes on the map can also clue us to geographic features which may not be explained using purely zip codes.